.fpass-container {
  background: #fff;
  /* width: 768px; */
}

.registration-form {
  padding: 50px 0;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 500px;
  margin: auto;
}

.registration-form form {
  background-color: #fff;
  /* max-width: 600px; */
  width: 400px;
  margin: auto;
  padding: 20px 40px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon {
  text-align: center;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  border-radius: 50%;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 50px;
  line-height: 100px;
}

.input-row {
  width: 300px;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid;
}
button.btn.fpassbtn {
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  margin: 30px 53px 0px 53px;
  padding: 12px;
}

button.btn.fpassbtn:hover {
  background-color: #8b616b;
  color: #fff;
  border: 4px groove black;
}

svg.MuiSvgIcon-root {
  font-size: 90px;
  margin-bottom: 13px;
}
